<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\NewProduct\Block\NewProducts">
        <arguments>
            <argument name="imageHelper" xsi:type="object">Magento\Catalog\Helper\Image</argument>
        </arguments>
    </type>
    <type name="Magento\NewProduct\Block\BestSeller">
        <arguments>
            <argument name="productCollectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\CollectionFactory</argument>
        </arguments>
    </type>
</config>
