<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Kensium_File::view" title="Kensium" sortOrder="900">
                    <resource id="Kensium_File::menu" title="File" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
